# Node modules
node_modules

# Build output
.next
out
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS & IDE files
.DS_Store
*.swp
.vscode
